/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  background: white;
  max-width: 880px;
  margin: 0 auto;
  border: 1px solid black;
}
header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-end;
  padding: 1.5rem 0 1.5rem 0;
}
header nav a {
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}
header nav a:hover {
  color: grey;
}
.first-half {
  width: 95%;
  margin: 0 auto;
  background-color: #7FDBFF;
  padding: 4rem 2rem 5.5rem 2rem;
}
.first-half img {
  width: 45%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.first-half h1 {
  font-size: 4rem;
}
.first-half p {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.first-half .top-part {
  border-bottom: 0.1rem solid black;
}
.first-half button {
  font-size: 2.5rem;
  background-color: white;
  border: 0.2rem solid black;
}
.first-half button:hover {
  background-color: black;
  color: white;
}
.second-half {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0 2rem 0;
}
.second-half .listen-up {
  width: 90%;
}
.second-half .listen-up h3 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}
.second-half .listen-up p {
  font-size: 1.6rem;
}
.second-half .good-stuff {
  width: 90%;
}
.second-half .good-stuff h3 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}
.second-half .good-stuff ul {
  font-size: 1.6rem;
  border-bottom: 0.075rem solid grey;
}
.second-half .good-stuff ul li {
  padding: 0.5rem 0 0.5rem 0.7rem;
  border-top: 0.075rem solid grey;
  border-left: 0.075rem solid grey;
  border-right: 0.075rem solid grey;
}
.third-half {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1.6rem;
}
.third-half h3 {
  font-size: 2.4rem;
}
.third-half div {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.third-half div ul {
  width: 100%;
}
.third-half div ul li {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid grey;
}
footer {
  font-size: 1.5rem;
  text-align: center;
  border: 0.1rem solid black;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  background-color: grey;
  color: white;
}
